aiohttp
argparse
beautifulsoup4
black
bokeh
catboost
celery
click
cryptography
dask
datasets
django
faiss-cpu
fastai
fastapi
flake8
flask
flax
geopandas
gensim
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
google-cloud-bigquery
google-cloud-datastore
google-cloud-firestore
google-cloud-functions
google-cloud-logging
google-cloud-monitoring
google-cloud-pubsub
google-cloud-runtimeconfig
google-cloud-speech
google-cloud-storage
google-cloud-texttospeech
google-cloud-translate
google-cloud-vision
gym
huggingface-hub
httpx
imageio
imblearn
ipython
isort
jax
joblib
jsonschema
jupyter
keras
langchain
lightgbm
loguru
lxml
matplotlib
mediapipe
mypy
mysql-connector-python
nltk
notebook
numpy
opencv-contrib-python
opencv-python
pathlib
pettingzoo
pillow
pinecone-client
plotly
polars
praw
prawcore
psycopg2
pytest
pytest-django
pytest-flask
pydantic
pydot
pyopenssl
pypdf2
pytesseract
pyyaml
pyzbar
ray[rllib]
redis
requests
scikit-image
scikit-learn
scipy
seaborn
selenium
sentence-transformers
sh
shap
shapely
spacy
sqlalchemy
stable-baselines3
tensorflow
textblob
tiktoken
torch
torchvision
tqdm
transformers
typing-extensions
umap-learn
uvicorn
watchdog
weaviate-client
xgboost
tkinter
PyQt5
PySide2
wxPython
Kivy
Dear PyGui
PyGTK
PySimpleGUI
Flask
Dash
Streamlit
selenium
